@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
  }
} */

/* custom font-sizes */
.ctext-xs {
  font-size: 14px;
}
.ctext-sm {
  font-size: 15px;
}
.ctext-base {
  font-size: 16px;
}
.ctext-lg {
  font-size: 18px;
}
.ctext-xl {
  font-size: 24px;
}
.ctext-2xl {
  font-size: 28px;
}